html {
    font-size: 22px
}

body {
    background-color: rgb(0, 51, 153);
    color: rgb(255, 102, 0)
}

a {
    color: antiquewhite;
}

a :visited{
    color: rgb(1, 1, 1)
}
a:hover, a:active {
    color: aquamarine;
}