* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}
body {
    background-color: rgb(236, 237, 239);
}

h1 {
    font-size: 700%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-shadow: 5px 5px 5px #000;
    
}

.nowrap{
    white-space: nowrap;
}


.welcomeWord {
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    font-size: 2rem;
}




.intro {
    font-size: 1.5rem;

    margin-top: 2rem;
}


.comboContainer{
    border: 2px dashed purple;
    height: 100vh;
    background-image: radial-gradient(rgb(251, 251, 251), white);
}

.wrappingContainer{
    background-image: url(../images/graph1.png), linear-gradient(rgb(143, 143, 255), white, rgb(89, 78, 79));
    background-repeat: repeat;
    background-position: top center;
}


.introContainer {
    border-bottom: 2px solid black;
    background-color: hsla(210, 62%, 26%, 0.446);
    padding: 1rem;
    min-height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position:static;
    

}



.container {
    border: 2px dashed red;
    padding: 1rem;
    margin: 2rem 2rem 5rem 2rem;
    position: relative;
}


.imageContainer{
    border: 2px dashed green;
    height: 30vh;
    width: 90vw;
    margin-inline: auto;
    position: relative;
    display: flex;
    gap: 8rem;
    justify-content: space-evenly;
    align-items: center;
  }







.imageBox{
    border: 2px dashed red;
    position: relative;
    margin-top: 1rem;
}

.imageBox:hover .image{
    opacity: 0.5;
}

.imageBox:hover figcaption{
    opacity: 1;
}


.image{
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}







figcaption{
    position: absolute;
    font-size: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(76, 72, 182);
}

figcaption:hover{
    opacity: 1;
}

a {
    color: rgb(222, 218, 224);
    
}

a :visited{
    color: rgb(1, 1, 1)
}
a:hover, a:active {
    color: rgb(237, 237, 237);
}

