* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(236, 237, 239);
}

h1 {
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.welcomeWord {
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    font-size: 2rem;
}




.intro {
    border: 2px dashed green;
    font-size: 1.5rem;

    margin-top: 2rem;
}






.container {
    border: 2px dashed red;
    padding: 1rem;
    margin: 2rem 2rem 5rem 2rem;
    position: relative;

}

.imageContainer{
    border: 2px dashed green;
    height: 30vh;
    width: 90vw;
    margin-inline: auto;
    position: relative;
    display: flex;
    gap: 8rem;
    justify-content: space-evenly;
    align-items: center;
  }





.imageBox{
    height: 10vh;
    min-width: 10vw;
    background-color: green;
}


.image{
    min-width: 10vw;
    height: 10vh;
}


a {
    color: rgb(172, 110, 199);
    
}

a :visited{
    color: rgb(1, 1, 1)
}
a:hover, a:active {
    color: rgb(127, 69, 151);
}

